!!! 5
html.no-js(lang='en')
  //
    <![endif]
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width')
    title= title
    link(rel='stylesheet', href='_css/style.css')
    script(src='_js/vendor/custom.modernizr.js')
  body
    .row
      .large-12.columns
        h2 curativity
        p crowdsourced analytics
        hr
    .row
      if errors
        .alert-box.alert.round.error(data-alert)
          | #{errors}
      .input_box
        form.form(method='POST', action='/signup')
          input(type='text', name='email', placeholder='Sign Up Now - email@host.com', value= email, required='required')
          button(type='submit') Submit
    script
      document.write('<script src=' +
      ('__proto__' in {} ? '_js/vendor/zepto' : '_js/vendor/jquery') +
      '.js><\\/script>')
    script(src='_js/foundation.min.js')
    script
      $(document).foundation();
