include includes/head
body.signInUp
  .signIn
    .row
      .large-6.large-centered.columns
        .row
          <a href="#" class="button round">Sign In</a>
        .row
          <a href="#" class="button round">Sign Up</a>
