include includes/head
body.signInUp
  .row
    .large-6.large-centered.columns
      .row
        .large-12.columns
          div CURATIVITY
  .login-form
    .row
      .large-6.large-centered.columns
        .row
          .large-10.large-offset-1.columns
            a.button.round(href='/login') Log In
        .row
          .large-10.large-offset-1.columns
            a.button.round(href='/signup') Sign Up
